import java.util.Scanner;
import java.io.*;

class mortgageapplacations{
	public static void main (String[]args){
		Scanner in = new Scanner(System.in); 
		System.out.println("Welcome to loan CALCULATOR Please selec the option that best fits you");
		System.out.println("1 - Loan Approval Calculator");
		System.out.println("2 - Monthly Payment Calculator");
		System.out.println("3 -  Loan Approval Reader");
		System.out.println("4 - Exit");
int Choice = in.nextInt();
			switch (Choice) {
				case 1: System.out.println("You have selected the Loan Approval Calculator");
				loanCalc();
				break;
				case 2:
				System.out.println("You have selected the Monthly Payment Calculator");
				break;
				case 3:
				System.out.println("you have selected the Loan Approval Reader");
				break;
				case 4:
				break;
		
		
	}
	
}
	public static boolean loanCalc (boolean flag){
		Scanner in = new Scanner(System.in);
		flag = true;
		System.out.print("Lets see if you are approved");
		System.out.println("Type your first name");
		String firstName = in.next();
		System.out.println("Type your Last name");
		String lastName = in.next();
		System.out.println("Please enter your annual gross income (nearest dollar)");
		int annualIncome = in.nextInt();
		System.out.println("Please enter your Total Savings (nearest dollar)");
		int totalSavings = in.nextInt();
		System.out.println("Please enter your credit score (300-850) ");
		int creditScore = in.nextInt();
		System.out.println("Please enter the amount of month on this loan 180 or 360");
		int numMonth = in.nextInt();
		System.out.println("Please enter your desired home value (nearest dollar) ");
		int homeValue = in.nextInt();
		if(homeValue >= 3.5*annualIncome){
			flag = false;
		}
		
	}
}

